.rect {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
}

.video {
    width: 250px;
    height: 250px;
    background-position: -100px 0px;
    position: relative;
    overflow: hidden;
    /* background-color: yellow; */
    /* mix-blend-mode: screen; */
}

body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(blue 0%, black 100%);
    background-repeat: no-repeat;
}

.site-gif {
    width: 200px;
    height: 245px;
    background-position: center center;
    background-size: 279% 135%;
    background-image: url(../gifs/site.gif);
    background-repeat: no-repeat;
    cursor: pointer;
    /* filter: contrast(160%) saturate(140%); */
}

.tower-gif {
    width: 227px;
    height: 246px;
    background-position: center center;
    background-size: 202% 111%;
    background-image: url(../gifs/tower.gif);
}

.site-gif:hover {
    background-image: url(../gifs/site_focus.gif);
}

.site-gif:focus {
    background-image: url(../gifs/site_focus.gif);
}

#site-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -50%);
    /* background-color: yellow; */
    mix-blend-mode: screen;
    /* background-blend-mode: screen; */
    /* filter: saturate(100%); */
}

.main-view {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0px auto;
}

.site-wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 800px;
}

.panel {
    width: 620px;
    height: 460px;
    /* background-color: skyblue; */
    -webkit-perspective: 2000;
    position: absolute;
    top: 200px;
    perspective: 400;
    -webkit-perspective: 400;
    /* transform: rotate3d(-160deg 10deg 30deg); */
    transform: rotateZ(-57deg) rotateX(48deg) rotateY(35deg);
    z-index: -1;
}

#s1 {
    position: absolute;
    top: 274px;
    left: -177px;
}

#s2 {
    position: absolute;
    top: 381px;
    left: -12px;
}

#s3 {
    position: absolute;
    top: 342px;
    left: 209px;
}

#s4 {
    position: absolute;
    top: 206px;
    left: 442px;
}

#s5 {
    position: absolute;
    top: 46px;
    left: 578px;
}

#s6 {
    position: absolute;
    top: -63px;
    left: 411px;
}

.gradient-rect-h {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(to right, transparent 0%, rgb(46, 236, 236) 50%, transparent 100%);
}

.gradient-rect-v {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, rgb(46, 236, 236) 0%, transparent 100%);
    width: 140px;
    height: 80%;
}